@font-face {
	src: url('../fonts/bree-serif/bree-serif.woff') format('woff');
	font-family: Bree Serif;
	font-style: normal;
	font-weight: bold;
}

body {
	background-color: #2c4762;
	font-family: sans-serif;
	margin: 0.4em 0;
}

#nsfw-indicator {
	height: 5em;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

#nsfw-indicator > span {
	background-color: #a0201c;
	color: white;
	color: rgba(255, 255, 255, 0.9);
	font-size: 0.8em;
	font-weight: bold;
	padding-bottom: 1em;
	padding-top: 2em;
	position: absolute;
	right: 0;
	text-align: center;
	transform: translate(2.5em, -0.7em) rotate(45deg);
	top: 0;
	width: 8em;
}

#header {
	margin: 2em 0.4em;
}

#avatar {
	border-radius: 2px;
	display: block;
	margin: 0 auto;
}

#title {
	font-family: Bree Serif, serif;
	font-size: 2.5em;
	font-weight: 500;
	margin: 0.3em 0;
	text-align: center;
}

#title a {
	color: white;
	text-decoration: none;
}

#description {
	color: white;
	color: rgba(255, 255, 255, 0.9);
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 auto;
	max-width: 50rem;
	text-align: center;
}

#description a {
	border-bottom: 0.1rem dotted rgba(255, 255, 255, 0.8);
	color: white;
	outline: none;
	text-decoration: none;
	transition: border-bottom-color 0.3s ease;
	white-space: nowrap;
}

#description a:focus, #description a:hover {
	border-bottom-color: white;
}

@media (max-width: 40em) {
	#title {
		font-size: 6.25vw;
	}

	#description {
		font-size: 3vw;
	}
}

@media (max-width: 30em) {
	#title {
		font-size: 1.875em;
	}

	#description {
		font-size: 0.9em;
	}
}

#posts {
	display: block;
	margin: 0 auto;
	max-width: 50em;
}

.post {
	background-color: white;
	border-radius: 2px;
	margin: 1.2em 0;
	padding: 1em;
	position: relative;
}

@media (max-width: 50em) {
	.post {
		border-radius: 0;
	}
}

.trail {
	border-top: 1px solid #eee;
	margin: 0 -1em 1em;
	padding: 0 1em;
	padding-top: 0.6em;
}

.trail-blog {
	margin: 0;
	font-weight: 500;
	font-size: 0.9em;
}

.trail-blog a {
	color: #333;
	text-decoration: none;
}

.post blockquote {
	border-left: 0.2em solid #ddd;
	margin-left: 0.4em;
	padding-left: 0.8em;
}

.post .post-question {
	background-color: #eee;
	border-left: none;
	margin: 0;
	padding: 1em;
}

.post .post-question h4 {
	color: #333;
	font-size: 0.9em;
	font-weight: normal;
	margin: 0 0 0.6em 0;
}

.post .post-question .asker a {
	color: #333;
	text-decoration: none;
}

.post .post-question p {
	margin: 0;
}

.post .post-photo img, .post .post-caption img {
	height: auto;
	max-width: 100%;
}

.post .post-video {
	display: block;
	margin: 2em auto;
}

.post .post-quote {
	font-size: 1.4em;
	font-weight: 500;
}

.post .post-quote > footer {
	font-size: 1rem;
	font-weight: normal;
	margin-top: 0.6em;
	text-align: right;
}

.post .post-tags {
	color: #666;
	list-style: none;
	margin: 0;
	padding: 0;
}

.post .post-tags li {
	display: inline-block;
	margin-right: 0.7em;
}

.post-alternates {
	color: #666;
	margin-left: 0.6em;
}

.post-alternates a {
	color: #36f;
	text-transform: lowercase;
}

#page-navigation {
	display: flex;
	margin: 1em auto;
	max-width: 50em;
}

#page-navigation a {
	color: white;
	font-size: 0.9em;
	font-weight: bold;
	opacity: 0.8;
	outline: none;
	overflow: hidden;
	text-decoration: none;
	transition: opacity 0.3s ease;
}

#page-navigation a:focus, #page-navigation a:hover {
	opacity: 1;
}

#page-navigation [rel=next] {
	margin-left: auto;
}
