user {{ username }};
worker_processes 4;

events {
	worker_connections 1024;
}

http {
	types {
		text/html               html;
		image/png               png;
		image/svg+xml           svg;
		text/css                css;
		application/font-woff   woff;
		application/javascript  js;
	}

	default_type application/octet-stream;

	sendfile on;

	keepalive_timeout 65;

	include ../sites-enabled/*;
}
